<h1 class="h1Style">Eat Da Burger</h1>

<h2>BURGERS TO BE DEVOURED</h2>

<ul>
  {{#each burger}}
  {{#unless devoured}}
  {{> cats/cat-block sleep=false}}
  {{/unless}}
  {{/each}}
</ul>

<h2>DEVOURED BURGERS</h2>

<ul>
  {{#each burger}}
  {{#if devoured}}
  {{> cats/cat-block sleep=true}}
  {{/if}}
  {{/each}}
</ul>

<h2>Add a burger</h2>
<form id="create-form">

  <div class="form-group">
    <label for="ca">What kind?</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="eaten">Eaten?</label><br>
    <input type="radio" name="eaten" value="1" id="itbeenate" checked>It's been eaten!<br>
    <input type="radio" name="eaten" value="0" id="needtoeat"> It's available for consumption
  </div>

  <button type="submit">Add burger!</button>
</form>